body {
    /* maximal Breite der Seite */
    max-width: 1280px;
    /* Zentrierung in der Mitte, Ränder bleiben immer gleich */
    margin: auto;
    /* Schriftart für das ganze Dokument */
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

header p {
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
    padding-right: 1em;
    margin-top: -2em;
}

.white,
.white a:link,
.white a:visited {
    color: white;
}

header nav img {
    border-radius: 50%;
}

/* Link der schonmal besucht wurde, erscheint schwarz */
a:link,
a:visited {
    color: black;
}

header address {
    font-size: 0.9em;
    font-style: italic;
}

main {
    /* maximale Breite */
    max-width: 70%;
    margin: auto;
}

main p {
    text-align: justify;
}

main figure {
    margin-left: 0;
    /* Breite von Text wird verwendet */
    width: 100%; 
}

main figure img {
    border: 1px solid black;
}

#map {
    /* Bereich freihalten */
    height: 360px;
    width: 100%;
    border: 1px solid gray;
}

main ul {
    list-style-type: circle;
}

/* Positionierung der Elemente am rechten / linken Bildrand, fließen in einer Zeile */
footer .next {
    float: right;
}

footer .back {
    float: left;
}

footer {
    /* oben Rand 1 em, rechts, unten 3 em, rechts 0 */
    padding: 1em 0 3em 0;
}